name: Continuous Deployment

on:
  push:
    branches: [23-cd-adding-continuous-deployments-to-the-project]
  workflow_dispatch:
    inputs:
      version:
        description: 'Define the version for the npm repository'     
        required: true
        default: 'prod'

jobs:
  deploy-new-version:
    runs-on: ubuntu-latest
    steps:

      - name: Checkout
        uses: actions/checkout@v2
        with:
          ref: ${{ github.head_ref }}
          fetch-depth: 0

      - name: Authenticate to NPM
        run: echo "//registry.npmjs.org/:_authToken=${{ secrets.NPM_SECRET }}" > ~/.npmrc

      - name: bump package versions
        run: npx nx run-many --target=bump --all=true $version

      - name: push changes
        shell: bash
        run: |
          git config --global user.email "puffyfish@gmail.com"
          git config --global user.name "puffyfish"
          git add .
          git commit -m "bumping versions"
          git push
      
      - name: publish new packages
        run: npx nx run-many --target=deploy --all=true
