name: Continuous Integration

on:
  pull_request:
    branches: [main]

env:
  node_version: lts/*

concurrency:
  cancel-in-progress: true

jobs:
  prettify:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          ref: ${{ github.head_ref }}
          fetch-depth: 0

      - name: Prettify code
        uses: creyD/prettier_action@v4.2
        with:
          prettier_options: --write **/*.{html,md,json,js,ts}

  build_and_test:
    runs-on: ubuntu-latest
    needs: prettify
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          ref: ${{ github.head_ref }}
          fetch-depth: 0

      - name: Use Node.js ${{ env.node_version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ env.node_version }}
          registry-url: 'https://registry.npmjs.org'
      - run: npm ci
      - run: npx nx run-many --target=build --all=true
      # - run: npx nx run-many --target=test --all=true
      # We can add the above line back once we've integrated tests
